{% extends "core.html" %}

{% block body %}
<header>
    {% block header %}
    <ul>
        <li>
            <a href="{{ config.base_url }}">icon</a>
        </li>
        <li>
        </li>
        <li>
            shit :3
        </li>
    </ul>
    header
    {% endblock header %}
</header>
<main>
    {% block main %}
    {% endblock main %}
</main>
<footer>
    <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
    </ul>
</footer>
{% endblock body %}
