<!DOCTYPE html>
<html lang="en">


<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}zoey.codes{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    {% endblock head %}
</head>

<body>
    {% block body %}
    {% endblock body %}
</body>

</html>
