{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Home | {{ super() }}{% endblock title %}

{% block main %}
{{ super() }}

<article>
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}
</article>
{{ macros::post_list(list=paginator.pages) }}
{% endblock main %}
