{% macro post_list(list) %}
{% for page in list %}
{{ macros::post(page=page) }}
{% endfor %}
{% endmacro post_list %}

{% macro post(page) %}
<article>
    <h1><a href="{{ page.permalink }}">{{page.title}}</a></h1>
    {% if page.date %}<p class="post-date">{{ page.date }}</p>{% endif %}
    {{ page.summary | default(value="") | safe }}
    <a href="{{page.permalink}}">read more</a>
</article>
{% endmacro post%}
