{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ super() }}{% endblock title %}

{% block main %}
<article>
    <h1>{{ page.title }}</h1>
    {{ page.content | safe }}
</article>
{% endblock main %}
