{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ section.title }} | {{ super() }}{% endblock title %}

{% block main %}
<article>
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}
</article>
{{ macros::post_list(list=section.pages) }}
{% endblock main %}
