$background-color: #5b3155;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  display: grid;
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template:
    "header header header" 40px
    "sidebar content ." auto
    "footer footer footer" auto / 100px 1fr 100px;
}

header {
  grid-area: header;
  display: flex;
}

footer {
  grid-area: footer;
}

main {
  grid-area: content;
}

article {
  place-self: center;

  background-color: white;
  // margin: 30px;
  // max-width: 600px;
  margin-block-end: 10px;
  padding: 30px;
  border-radius: 5px;

  h1 {
    text-align: center;
  }
}
