
.icon-globe:before { content: '\49'; } /* 'I' */
.icon-tumblr:before { content: '\54'; } /* 'T' */
.icon-instagram:before { content: '\69'; } /* 'i' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-itchio:before { content: '\e803'; } /* '' */
.icon-carrd:before { content: '\e804'; } /* '' */
.icon-bluesky:before { content: '\e805'; } /* '' */
.icon-pixiv:before { content: '\e806'; } /* '' */
.icon-ao3:before { content: '\e807'; } /* '' */
.icon-tiktok:before { content: '\e80a'; } /* '' */
.icon-fedi:before { content: '\e813'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-kofi:before { content: '\f0f4'; } /* '' */
