@font-face {
  font-family: 'logos';
  src: url('../font/logos.eot?13109259');
  src: url('../font/logos.eot?13109259#iefix') format('embedded-opentype'),
       url('../font/logos.woff2?13109259') format('woff2'),
       url('../font/logos.woff?13109259') format('woff'),
       url('../font/logos.ttf?13109259') format('truetype'),
       url('../font/logos.svg?13109259#logos') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'logos';
    src: url('../font/logos.svg?13109259#logos') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "logos";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-globe:before { content: '\49'; } /* 'I' */
.icon-tumblr:before { content: '\54'; } /* 'T' */
.icon-instagram:before { content: '\69'; } /* 'i' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-itchio:before { content: '\e803'; } /* '' */
.icon-carrd:before { content: '\e804'; } /* '' */
.icon-bluesky:before { content: '\e805'; } /* '' */
.icon-pixiv:before { content: '\e806'; } /* '' */
.icon-ao3:before { content: '\e807'; } /* '' */
.icon-tiktok:before { content: '\e80a'; } /* '' */
.icon-fedi:before { content: '\e813'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-kofi:before { content: '\f0f4'; } /* '' */
