{% extends "base.html" %}

{% block content %}
<div><a href="..">..</a>/<span class="accent-data">{{ page.slug }}</span></div>
<time datetime="{{ page.date }}">Published on: <span class="accent-data">{{ page.date }}</span></time>
{% if config.extra.author and config.extra.display_author == true %}
<address rel="author">By <span class="accent-data">{{config.extra.author}}</span></address>
{% endif %}
{% block pretitle %}{% endblock pretitle %}
<h1>{{ page.title }}</h1>

{% if page.toc and page.extra.toc %}
<h2>Table of contents</h2>
<ul>
  {% for h1 in page.toc %}
  <li>
    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
    {% if h1.children %}
    <ul>
      {% for h2 in h1.children %}
      <li>
        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
        <ul>
          {% for h3 in h2.children %}
          <li>
            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{{ page.content | safe }}

<p class="tags-data">
  {% if page.taxonomies.tags %}
  {% for tag in page.taxonomies.tags %}
  <a href="/tags/{{ tag | slugify }}">#{{ tag }}</a>
  {% endfor %}
  {% endif %}
</p>
{% endblock content %}
