{% extends "page.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block body %}
<main>
    <article>
        <h1>{{ page.title }}</h1>
        {{ page.content | safe }}
    </article>
</main>
{% endblock body %}
