{% extends "blog-page.html" %}

{% block title %}{{ page.title }} | {{ super() }}{% endblock title %}

{% block pretitle %}
{% if page.extra.original %}
<address rel="source"><a href="{{page.extra.original}}">Original Post</a></address>
{% endif %}
{% endblock pretitle %}

{% block main %}
<article>
    <h1>{{ page.title }}</h1>
    <p class="date">{{ page.date }}</p>
    {% if page.extra.original %}
    <p class="link_to_original">This was originally published <a href="{{ page.extra.original }}">on the fediverse</a>.
    </p>
    {% endif %}
    {{ page.content | safe }}
</article>
{% endblock main %}
